<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>相册</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <LINK rel="Bookmark" href="static/favicon.png">
    <LINK rel="Shortcut Icon" href="static/favicon.png"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="static/staticRes/js/html5shiv.js"></script>
    <script type="text/javascript" src="static/staticRes/js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="static/plugin/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/plugin/Hui-iconfont/1.0.8/iconfont.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="static/plugin/pifu/pifu.css"/>
    <!--[if lt IE 9]>
    <link href="static/staticRes/lib/h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }

    function showSide() {
        $('.navbar-nav').toggle();
    }</script>
</head>
<body>
<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="container cl">
            <a class="navbar-logo hidden-xs" href="index.html">
                <img class="logo" src="static/img/logo.png" />
            </a>
            <a class="logo navbar-logo-m visible-xs" href="index.html">My Blog</a>
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:void(0);"
               onclick="showSide();">&#xe667;</a>
            <nav class="nav navbar-nav nav-collapse w_menu" role="navigation">
                <ul class="cl">
                    <li class="active"><a href="index" data-hover="首页">首页</a></li>
                    <li><a href="about" data-hover="关于我">关于我</a></li>
                    <li><a href="album" data-hover="相册">相册</a></li>
                    <li><a href="article" data-hover="学无止尽">学无止尽</a></li>
                    <li><a href="board" data-hover="留言板">留言板</a></li>
                    <li th:if="${session.user != null && session.user.name=='admin'}" ><a href="publish" data-hover="发表">发表</a></li>
                </ul>
            </nav>
            <nav class="navbar-nav navbar-userbar hidden-xs hidden-sm " style="top: 0;">
                <ul class="cl">
                    <li class="userInfo dropDown dropDown_hover" th:if="${session.user}==null">
                        <a href="login" ><img class="avatar size-S" src="static/img/tologin.png" title="登入">登入</a>
                    </li>
                    <li class="userInfo dropDown dropDown_hover" th:if="${session.user}!=null">
                        <span>欢迎您! </span>
                        <img class="avatar size-S" th:src="${session.user.getImg()}" title="头像"><a href="#" th:text="${session.user.name}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!--导航条-->
<nav class="breadcrumb">
    <div class="container"><i class="Hui-iconfont">&#xe67f;</i> <a href="index" class="c-primary">首页</a> <span
            class="c-gray en">&gt;</span> <span class="c-gray">相册</span>
</nav>
<section class="container pt-20">
    <!--left-->
    <div class="col-sm-9 col-md-9 mt-20">


        <!--article list-->
        <div id="left">
            <div id="upPhoto" style="width: 100%;">
                <div th:if="${session.user != null && session.user.name=='admin'}">
                    <div style="margin-top: 20px">
                        <span style="margin: 0 20px;font-size: 20px">相册主题:</span><input id="photoTip" autocomplete="off" required="required" type="text" style="width: 250px;height: 30px;border: none;border-radius: 15px;text-indent: 10px;margin-top: -10px"/>
                    </div>
                    <div class="layui-upload" style="margin-top: 20px;margin-left: 20px">
                        <label for="fileIn" type="button" class="layui-btn" id="test2">选择图片</label>
                        <input type="file" multiple="multiple" id="fileIn" style="display: none"/>
                        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                            预览图：
                            <div class="layui-upload-list" id="demo2"></div>
                        </blockquote>
                        <button id="upbtn" type="button" class="layui-btn">确认上传</button>
                    </div>
                </div>
                <div id="photoCon" style="margin-top: 30px">
                    <ul id="photoul" style="display: flex;flex-wrap: wrap;justify-content:flex-start" >
                        <li th:each="photo:${album}" style="margin-bottom: 20px">
                                <img th:src="${photo.getPhoto()[0].getUrl()}" style="width:180px;height: 180px;margin-top: 10px "/><br/>
                                <h4 th:text="${photo.getTittle()}">装逼图999954984894646546123qweqwe</h4><br/>
                                <span th:text="${photo.getTime()}">2019/05/23</span><span style="display: none"></span>
                                <span th:text="${photo.getId()}" style="display: none"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!--right-->
    <div class="col-sm-3 col-md-3 mt-20">

        <!--热门推荐-->
        <div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a href=""><strong>热门推荐</strong></a>
            </div>
            <div class="tab-category-item">
                <ul class="index_recd" th:each="hot:${session.hotArticle}">
                    <li>
                        <a th:href="@{article_detail(id=${hot.getId()})}" th:text="${hot.getTittle()}">阻止a标签href默认跳转事件</a>
                        <p class="hits"><i class="Hui-iconfont" title="点击量" >&#xe622;</i><span th:text="${hot.getRcount()}"> 276 </span></p>
                    </li>
                </ul>
            </div>
        </div>

        <!--标签-->
        <div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a href=""><strong>标签云</strong></a>
            </div>
            <div class="tab-category-item">
                <div class="tags"> <a href="http://www.h-ui.net/">H-ui前端框架</a> <a href="http://www.h-ui.net/websafecolors.shtml">Web安全色</a> <a href="http://www.h-ui.net/Hui-4.4-Unslider.shtml">jQuery轮播插件</a> <a href="http://idc.likejianzhan.com/vhost/korea_hosting.php">韩国云虚拟主机</a> <a href="http://www.h-ui.net/bug.shtml">IEbug</a> <a href="http://www.h-ui.net/site.shtml">IT网址导航</a> <a href="http://www.h-ui.net/icon/index.shtml">网站常用小图标</a> <a href="http://www.h-ui.net/tools/jsformat.shtml">web工具箱</a> <a href="http://www.h-ui.net/bg/index.shtml">网站常用背景素材</a> <a href="http://www.h-ui.net/yuedu/chm.shtml">H-ui阅读</a> <a href="http://www.h-ui.net/easydialog-v2.0/index.html">弹出层插件</a> <a href="http://www.h-ui.net/SuperSlide2.1/demo.html">SuperSlide插件</a> <a href="http://www.h-ui.net/TouchSlide1.1/demo.html">TouchSlide</a></div>
            </div>
        </div>
    </div>

</section>
<footer class="footer mt-20">
    <p>Copyright &copy;2017 wfyvv.com All Rights Reserved. <br>
        <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">皖ICP备17002922号</a> 更多模板：<a
                href="http://www.mycodes.net/" target="_blank">源码之家</a><br>
    </p>
</footer>
<script type="text/javascript" src="static/plugin/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="static/plugin/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
<script type="text/javascript" src="static/plugin/layer/3.0/layer.js"></script>
<script type="text/javascript" src="static/js/layui.js" charset="UTF-8"></script>
<script> $(function(){ $(window).on("scroll",backToTopFun); backToTopFun(); }); </script>
<script>
    $(function(){
//标签
        $(".tags a").each(function(){
            var x = 9;
            var y = 0;
            var rand = parseInt(Math.random() * (x - y + 1) + y);
            $(this).addClass("tags"+rand)
        });


    });

    layui.use('upload', function(){
        var upload = layui.upload;
        //多图片上传
        upload.render({
            elem: '#fileIn'
            ,url: 'util/upload'
            ,multiple: true
            ,auto:false
            ,choose:function (obj) {
                $('#demo2').empty()
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')

                });
            }
        });
    });

    $("#upbtn").on("click",function () {
        if($("#photoTip").val().trim()=="" || $("#photoTip").val().trim()==null){
            layer.msg("相册主题不能为空")
            return;
        }
        if($("#fileIn").val()=="" || $("#fileIn").val()==null){
            layer.msg("未选择文件")
            return;
        }
        var file = document.getElementById("fileIn").files
        var formdata = new FormData();
        for(var i = 0;i<file.length;i++){
            formdata.append("files",file[i])
        }
        formdata.append("tittle",$("#photoTip").val())
        $.ajax({
            url:"util/upload",
            type:"post",
            processData: false,
            data:formdata,
            contentType: false,
            success:function (data) {
                alert(data.res)
            }
        })
    })
    
    
    $("#photoul li").on("click",function () {
        $.ajax({
            url:"util/getPhoto",
            dataType:"json",
            type:"post",
            data:{
                id:$(this).children("span:last-child").text()
            },
            success:function (data) {
                layer.photos({
                    photos: data //格式见API文档手册页
                    ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机
                });
            }
        })
    })
</script>
</body>
</html>
