<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>留言板</title>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="static/favicon.png" >
<LINK rel="Shortcut Icon" href="static/favicon.png" />
<!--[if lt IE 9]>
<script type="text/javascript" src="static/staticRes/js/html5shiv.js"></script>
<script type="text/javascript" src="static/staticRes/js/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="static/plugin/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/plugin/Hui-iconfont/1.0.8/iconfont.min.css" />
<link rel="stylesheet" type="text/css" href="static/css/common.css" />
<link rel="stylesheet" type="text/css" href="static/plugin/pifu/pifu.css" />
<link rel="stylesheet" type="text/css" href="static/plugin/wangEditor/css/wangEditor.min.css">
<script type="text/javascript" charset="utf-8" src="static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="static/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="static/ueditor/lang/zh-cn/zh-cn.js"></script>
<!--[if lt IE 9]>
<link href="static/staticRes/lib/h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } function showSide(){$('.navbar-nav').toggle();}</script>
</head>
<body>
<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="container cl">
            <a class="navbar-logo hidden-xs" href="index.html">
                <img class="logo" src="static/img/logo.png" />
            </a>
            <a class="logo navbar-logo-m visible-xs" href="index.html">My Blog</a>
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:void(0);"
               onclick="showSide();">&#xe667;</a>
            <nav class="nav navbar-nav nav-collapse w_menu" role="navigation">
                <ul class="cl">
                    <li class="active"><a href="index" data-hover="首页">首页</a></li>
                    <li><a href="about" data-hover="关于我">关于我</a></li>
                    <li><a href="album" data-hover="相册">相册</a></li>
                    <li><a href="article" data-hover="学无止尽">学无止尽</a></li>
                    <li><a href="board" data-hover="留言板">留言板</a></li>
                    <li th:if="${session.user != null && session.user.name=='admin'}" ><a href="publish" data-hover="发表">发表</a></li>
                </ul>
            </nav>
            <nav class="navbar-nav navbar-userbar hidden-xs hidden-sm " style="top: 0;">
                <ul class="cl">
                    <li class="userInfo dropDown dropDown_hover" th:if="${session.user}==null">
                        <a href="login" ><img class="avatar size-S" src="static/img/tologin.png" title="登入">登入</a>
                    </li>
                    <li class="userInfo dropDown dropDown_hover" th:if="${session.user}!=null">
                        <span>欢迎您! </span>
                        <img class="avatar size-S" th:src="${session.user.getImg()}" title="头像"><a href="#" th:text="${session.user.name}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!--导航条-->
<nav class="breadcrumb">
    <div class="container"> <i class="Hui-iconfont">&#xe67f;</i> <a href="index" class="c-primary">首页</a> <span class="c-gray en">&gt;</span>  <span class="c-gray">留言板</span> </div>
</nav>
<section class="container">
    <div class="col-xs-12 col-md-10 col-md-offset-1 mt-20">
        <!--用于评论-->
        <div class="mt-20" id="ct">
            <script id="editor" type="text/plain" name="gdesc" style="width:100%;height:200px;"></script>
            <div class="text-r mt-10">
                <button id="reply" class="btn btn-primary radius" > 发表评论</button>
            </div>
        </div>

        <div class="line"></div>
        <div id="div1">
        <ul id="ul1" class="commentList mt-50" >

          <li class="item cl" th:each="item:${boardReply}" th:fragment="ul1"> <a href="#"><i class="avatar size-L radius"><img alt="" th:src="${item.getMasterImg()}"></i></a>
              <span th:text="${item.getRid()}" style="display: none"></span>
              <div class="comment-main">
                    <header class="comment-header">
                        <div class="comment-meta"><a class="comment-author" href="#" th:text="${item.getMaster()}">老王</a>
                            <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20" class="f-r" th:text="${item.getTime()}">2014-8-31 15:20</time>
                        </div>
                    </header>
                    <div class="comment-body" >
                        <span th:utext="${item.getContent()}">你是猴子派来的救兵吗？</span>
                        <ul class="commentList" id="ul2" th:each="in:${item.getInreply()}" th:fragment="ul2">
                            <li class="item cl"> <a href="#"><i class="avatar size-L radius"><img alt="" th:src="${in.getMasterImg()}"></i></a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta"><a class="comment-author" href="#" th:text="${in.getMaster()}">老王</a>
                                            <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20" class="f-r" th:text="${in.getTime()}">2014-8-31 15:20</time>
                                        </div>
                                    </header>
                                    <div class="comment-body" th:utext="${in.getContent()}">
                                        <p> 是的</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button class="hf f-r btn btn-default size-S mt-10" name="2">回复</button>
                    </div>
                </div>
            </li>
        </ul>
            <div class="text-c mb-20" id="moreReply" style="text-align: center;margin-top: 30px">
                <a class="btn  radius btn-block " style="width: 300px;display: inline-block" id="moreRe" >点击加载更多</a>
            </div>
        </div>
        <!--用于回复-->
        <div class="comment hidden mt-20">
            <div id="err2" class="Huialert Huialert-danger hidden radius">成功状态提示</div>
            <textarea class="textarea" style="height:100px;" > </textarea>
            <button  id="inreply" type="button" class="btn btn-primary radius mt-10">回复</button>
            <a class="cancelReply f-r mt-10">取消回复</a>
        </div>
    </div>
</section>
<footer class="footer mt-20">
    <div class="container-fluid" id="foot">
        <p>Copyright &copy; 2016-2017 www.wfyvv.com <br>
            <a href="#" target="_blank">皖ICP备17002922号</a>  更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a><br>
        </p>
    </div>
</footer>
<script type="text/javascript" src="static/plugin/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="static/plugin/layer/3.0/layer.js"></script>
<script type="text/javascript" src="static/plugin/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/plugin/pifu/pifu.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
<script> $(function(){ $(window).on("scroll",backToTopFun); backToTopFun(); }); </script>
<script type="text/javascript" src="static/plugin/wangEditor/js/wangEditor.min.js"></script>

<script type="text/javascript">
    $(function () {
        if($("#ul1").children("li").length<3){
            $("#moreReply").prop("style","display:none")
        }
        //show reply
        $(".hf").click(function () {
            pId = $(this).attr("name");
            $(this).parents(".commentList").find(".cancelReply").trigger("click");
            $(this).parent(".comment-body").append($(".comment").clone(true));
            $(this).parent(".comment-body").find(".comment").removeClass("hidden");
            $(this).hide();
        });
        //cancel reply
        $(".cancelReply").on('click',function () {
            $(this).parents(".comment-body").find(".hf").show();
            $(this).parents(".comment-body").find(".comment").remove();
        });
    });
    //实例化编辑器
    var ue = UE.getEditor('editor',{
        toolbars: [
            [
                'undo', //撤销
                'bold', //加粗
                'formatmatch', //格式刷
                'underline', //下划线
                'insertcode', //代码语言
                'horizontal', //分隔线
                'inserttitle', //插入标题
                'cleardoc', //清空文档
                'fontfamily', //字体
                'fontsize', //字号
                'paragraph', //段落格式
                'emotion', //表情
                'forecolor', //字体颜色
                'edittip ', //编辑提示
            ]
        ]
    });

    $("#reply").on("click",function () {
            var content= UE.getEditor('editor').getContent()
            if(content.trim()==null || content.trim()==""){
                layer.msg("回复内容不能为空")
                return;
            }
        $.ajax({
            url:"util/check",
            dataType:"text",
            type:"post",
            success:function (data) {
                if(data=="true"){
                    $("#ul1").load(
                        "board/reply",
                        {
                            item:$("#ul1").children("li").length,
                            addr:"admin",
                            content:UE.getEditor('editor').getContent(),
                        },
                        function () {
                            layer.msg("回复成功")
                            if($("#ul1").children("li").length==3){
                                $("#moreReply").prop("style","display:block;margin-top: 30px")
                            }
                        }
                    )
                }else{
                    layer.msg("登陆后方可回复")
                }
            }
        })
    })

    $("#inreply").on("click",function () {
        var content= $(this).siblings(".textarea").val()
        var addr= $(this).parents('.comment-main').siblings("span").text()
        if(content.trim()==null || content.trim()==""){
            layer.msg("回复内容不能为空")
            return;
        }
        $.ajax({
            url:"util/check",
            dataType:"text",
            type:"post",
            success:function (data) {
                if(data=="true"){
                    $("#ul1").load(
                        "board/reply",
                        {
                            item:$("#ul1").children("li").length,
                            in:"inReply",
                            addr:addr,
                            content:content
                        },
                        function () {
                            layer.msg("回复成功")
                            if($("#ul1").children("li").length==3){
                                $("#moreReply").prop("style","display:block;margin-top: 30px")
                            }
                        }
                    )
                }else{
                    layer.msg("登陆后方可回复")
                }
            }
        })

    })

    $("#moreRe").on("click",function () {
        var size = $("#ul1").children("li").length
        $("#ul1").load(
            "board/more",
            {
                item:$("#ul1").children("li").length+3,
            },
            function () {
                if($("#ul1").children("li").length<(size+3) || $("#ul1").children("li").length==size){
                    $("#moreReply").prop("style","display:none")
                }
            }
        )
    })
</script>

</body>
</html>
